<!DOCTYPE html>
<html>
<head>
    <title>YAML Monitor Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 8px;
        }
        th {
            background: #eee;
        }
    </style>
</head>
<body>

<h2>Alarm System Configuration Table</h2>

<form method="POST" action="/update">
<table>
    <tr>
        <th>Enable</th>
        <th>Endpoint</th>
        <th>Comparison</th>
        <th>Reference</th>
        <th>Message</th>
        <th>Action</th>
    </tr>

    {% for row in data %}
    <tr>
        <td>
            <input type="checkbox" name="enable_{{ loop.index0 }}" {% if row['enable'] %}checked{% endif %}>
        </td>
        <td>
            <input name="endpoint_{{ loop.index0 }}" value="{{ row.endpoint }}">
        </td>
        <td>
            <input name="comparison_{{ loop.index0 }}" value="{{ row.method }}">
        </td>
        <td>
            <input name="reference_{{ loop.index0 }}" value="{{ row.reference }}">
        </td>
        <td>
            <input name="message_{{ loop.index0 }}" value="{{ row.message }}">
        </td>
        <td>
            <form method="POST" action="/delete/{{ loop.index0 }}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<button type="submit">Save Changes</button>
</form>

<hr>

<h3>Add New Row</h3>

<form method="POST" action="/add">
<table>
    <tr>
        <th>Enable</th>
        <th>Endpoint</th>
        <th>Comparison</th>
        <th>Reference</th>
        <th>Message</th>
        <th>Action</th>
    </tr>
    <tr>
      <td><input type="checkbox" name="enable"></td>
      <td><input name="endpoint"></td>
      <td><input name="comparison"></td>
      <td><input name="reference"></td>
      <td><input name="message"></td>
      <td><button type="submit">Add</button></td>
    </tr>
</table>
</form>
<h3>Notes:</h3>
<ul>
  <li>Enable: If checkbox is not checked, the check of the endpoint is skipped.</li>
  <li>Endpoint: has to be a valid dripline endpoint name.</li>
  <li>Comparison: Has to be one of ["equal", "not_equal", "lower", "greater"]</li>
  <li>Reference: Will be interpreted as float if possible, otherwise as string. Has to match endpoint type.</li>
  <li>Message: The message that is send to slack, it the condition is fullfilled. </li>
</ul>
</body>
</html>
